

<div>
    <h1 class="page-header">Houses <small>there are {{ houses.length }} on this server</small></h1>

    <div>
<table class="table table-striped">
<thead>
<tr>
<th>House auctions</th>
<th style="width: 16%">Town</th>
<th style="width: 16%">Status</th>
<th style="width: 16%">Order</th>
</tr>
</thead>
<tbody>
<tr>
<td>
    <table class="table table-striped" ng-show="houses.length && loaded">
        <thead>
            <tr>
                <th>Name</th>
                <th>Town</th>
                <th ng-model="order" name="sort" value="size">Size</th>
                <th ng-if="info.houseRentPeriod != 'never'"> rent</th>
                <th ng-if="info.houseRentPeriod == 'never'">Price</th>
                <th>Owner</th>
            </tr>
        </thead>
        <tbody>

            <tr ng-repeat="house in houses | filter:{town_id:filter_town} | orderBy: order : orderReverse" ng-class="{success: !house.owner && !house.highest_bidder, warning: !house.owner && house.highest_bidder }">
                <td><a href="#/houses/{{house.id}}">{{ house.name }}</a></td>
                <td>{{ house.town_id }}</td>
                <td>{{ house.size }}</td>
                <td>{{ house.rent | number }} gp</td>
                <td>
                    <span ng-if="house.owner"><a href="#/players/{{ player(house.owner).name }}">{{ player(house.owner).name }}</a> <span ng-if="player(house.owner)">({{player(house.owner).level}})</span></span>
                    <span ng-if="!house.owner && info.houses_auctions && !house.highest_bidder"><a class="btn btn-xs btn-success" href="#/houses/{{house.id}}">Sem Dono</a></span>
                    <span ng-if="!house.owner && info.houses_auctions && house.highest_bidder"><a class="btn btn-xs btn-warning" href="#/houses/{{house.id}}">Leilão Fecha {{ fromNow(house.bid_end) }}!</a></span>
                    <span ng-if="!house.owner && !info.houses_auctions"><a class="btn btn-xs btn-success" href="#/houses/{{house.id}}">!buyhouse in game to buy</a></span>
                </td>
            </tr>


        <div ng-hide="loaded" class="col-lg-1 col-offset-6 centered">
            <i class="text-center fa fa-circle-o-notch fa-spin fa-5x"></i>
        </div>


        <p ng-show="!houses.length && loaded">
            There are no houses on this server :(
        </p>


        </tbody>
    </table>
</td>
<td>

<!--  !!! RETRIEVE TOWN LIST BY API !!!
<label class="radio"><input ng-model="filter_town" value="Ab'Dendriel" type="radio" checked="checked"> Ab'Dendriel</label>
<label class="radio"><input ng-model="filter_town" value="Ankrahmun" type="radio"> Ankrahmun</label>
<label class="radio"><input ng-model="filter_town" value="Carlin" type="radio"> Carlin</label>
<label class="radio"><input ng-model="filter_town" value="Darashia" type="radio"> Darashia</label>
<label class="radio"><input ng-model="filter_town" value="Edron"  disabled type="radio"> Edron</label>
<label class="radio"><input ng-model="filter_town" value="Farmine" type="radio"> Farmine</label>
<label class="radio"><input ng-model="filter_town" value="Gray Beach"  disabled type="radio"> Gray Beach</label>
<label class="radio"><input ng-model="filter_town" value="Kazordoon" type="radio"> Kazordoon</label>
<label class="radio"><input ng-model="filter_town" value="Liberty Bay" type="radio"> Liberty Bay</label>
<label class="radio"><input ng-model="filter_town" value="Port Hope" type="radio"> Port Hope</label>
<label class="radio"><input ng-model="filter_town" value="Svargrond" type="radio"> Svargrond</label>
<label class="radio"><input ng-model="filter_town" value="Thais" type="radio"> Thais</label>
<label class="radio"><input ng-model="filter_town" value="Venore" type="radio"> Venore</label>
<label class="radio"><input ng-model="filter_town" value="Yalahar" type="radio"> Yalahar</label>
-->

</td>
<td>
<label class="radio"><input name="status" value="all" checked="checked" type="radio"> all states</label>
<label class="radio"><input name="status" value="auctioned" type="radio"> auctioned</label>
<label class="radio"><input name="status" value="rented" type="radio"> rented</label>
</td>
<td style="width: 120px">
<label class="checkbox-inline"><input ng-model="orderReverse" type="checkbox"> Reverse order</label>
<label class="radio"><input ng-model="order" type="radio" name="sort" value="name" checked="checked"> by name</label>
<label class="radio"><input ng-model="order" type="radio" name="sort" value="size"> by size</label>
<label class="radio"><input ng-model="order" type="radio" name="sort" value="rent"> by bid</label>
<label class="radio"><input ng-model="order" type="radio" name="sort" value="bid_end"> by auction end</label>
</td>
</tr>
</tbody>
</table>


    </div>



